.selectLanguage {
    position: relative;
    display: inline-block; 
    left: 50%;
    transform: translateX(-50%);
  }

.dropButton {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 200px;
}

.dropDownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 200px;
}

.show {display:block;}

/* Links inside the dropdown */
.dropDownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropDownContent a:hover {background-color: #ddd}

button {
    outline: none;
    border: 4px solid green;
    padding: 10px 10px;
    font-size: 1rem;
    font-weight: bold;
    background: none;
    transition: all 0.2s ease-in-out;
}
  
button:hover {
    cursor: pointer;
    background: green;
    color: white;
}

#Ans {
    letter-spacing: 0.2em;
    text-align: center;
}

#Clue {
    text-align: center;
}

#Hangman {
    position: relative;
    display: block;
    left: 50%;
    transform: translateX(-50%);
}

.newGame {
    position: relative;
    display: inline-block; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 200px;
}

